<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table>
  <thead>
  <tr>
    <th>日時</th>
    <th>Contetns</th>
    <th>既読状態</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @notifications.each do |notification| %>
    <tr>
      <td><%= notification.updated_at %></td>
      <td><%= notification.content %></td>
      <td><%= notification.already_read ? "既読済" : "未読" %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @notifications %>
<br>
