<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message.content %>
</p>

<p>
  <strong>From user:</strong>
  <%= @message.from_user_id %>
</p>

<p>
  <strong>Message group:</strong>
  <%= @message.message_group %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
