  <%= form_with(model: user, local: true) do |form| %>

  <div class="field">
    <%= form.label :category %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name, include_hidden: false do |box| %>
      <p><%= box.label { box.check_box + box.text } %></p>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>