<p id="notice"><%= notice %></p>

<h1>User Details</h1>
<p>
  <strong>name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>email:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Watching Categories:</strong>
  <% current_user.watching_categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
</p>

<%= link_to 'watching index', watchings_path %>
