<%= form_with(model: message_group, local: true) do |form| %>
  <% if message_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message_group.errors.count, "error") %> prohibited this message_group from being saved:</h2>

      <ul>
      <% message_group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user %>
    <%= form.collection_select :user_id, (current_user.get_invested_product_owners | current_user.get_own_product_investors), :id, :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>