<p id="notice"><%= notice %></p>

<h1>Message Groups</h1>

<table>
  <thead>
    <tr>
      <tr>Id</tr>
      <tr>User emails</tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @message_groups.each do |message_group|  %>
      <tr>
        <td><%= message_group.id %></td>
        <td>
          <% message_group.users.each do |user| %>
            <p><%= user.email %></p>
          <% end %>
        </td>
        <td><%= link_to 'Show', message_group %></td>
        <td><%= link_to 'Edit', edit_message_group_path(message_group) %></td>
        <td><%= link_to 'Destroy', message_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message Group', new_message_group_path %>
