<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Goal price:</strong>
  <%= @product.goal_price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @product.get_current_price %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @product.due_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<p>
  <strong>Categories:</strong>
  <% @product.categories.each do |category| %>
    <p><%= category.name %></p>
  <% end %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <br/>
  <%= image_tag @product.thumbnail.url if @product.thumbnail.present? %>
</p>

<p>
  <strong>Product Images</strong>
  <br/>
  <% @product.images.each do |image| %>
    <%= image_tag(image.image_url) if image.image? %>
    <br/>
  <% end%>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
