<%= form_with(url: report_administer_investments_path, method: :get, local: true) do |form|%>

  <div class="field">
    <%= form.label :begin_datetime %>
    <%= form.date_field :begin_datetime, id: :investment_begin_time %>
  </div>

  <div class="field">
    <%= form.label :end_datetime %>
    <%= form.date_field :end_datetime, id: :investment_end_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>