<% if user_signed_in? && !(product.is_owned_by?(current_user.id)) %>
  <% if current_user.already_liked?(product) %>
    <%= form_with url: product_like_path(product, id: product.likes.find_by(user_id: current_user.id)), html: { method: :delete } do |form| %>
      <%= form.submit "いいねを取り消す", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <%= form_with url: product_likes_path(product) do |form| %>
      <div><%= hidden_field_tag :user_id, current_user.id %></div>
      <div><%= hidden_field_tag :product_id, product.id %></div>
      <%= form.submit "いいね", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>