<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Goal price:</strong>
  <%= @product.goal_price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @product.current_price %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @product.due_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
