<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Goal price:</strong>
  <%= @product.goal_price %>
</p>

<p>
  <strong>Current price:</strong>
  <%= @product.get_current_price %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @product.due_date %>
</p>

<p>
  <strong>State:</strong>
  <%= @product.state %>
</p>

<p>
  <strong>いいね:</strong>
  <%= @product.likes.count %>
</p>

<% if current_user.already_liked?(@product) %>
  <%= render 'unlike', product: @product %>
<% else %>
  <%= render 'like', product: @product %>
<% end %>

<% if @product.get_current_price < @product.goal_price %>
  <%= link_to 'Invest this product', new_investment_path(@product, product_id: @product.id) %>
<% end %>