
<% if user_signed_in? %>
  <p>Login User:<%= current_user.email %>></p>
  <%= link_to 'Log Out', destroy_user_session_path %>
  <%= link_to 'Edit Your Profile', edit_user_registration_path %>
  <%= link_to 'New Product', new_admin_product_path %>
  <%= link_to 'Your Products', admin_products_path %>
  <%= link_to 'Your Investments', investments_path %>
  <%= link_to 'Investments Details of Your Products', report_administer_investments_path %>
  <br/>
  <% if current_user.role_administer? %>
    Administer Menu:
    <%= link_to 'Investment Overview', administer_investments_path %>
    <%= link_to 'Category Overview', administer_categories_path %>
    <br/>
  <% end%>
<% else %>
  <%= link_to 'Log in', user_session_path %>
  <%= link_to 'Sign in', new_user_registration_path %>
  <br/>
<% end %>
<%= link_to 'Message', message_groups_path %>
