
<% if user_signed_in? %>
  <p>Login User:<%= current_user.email %>></p>
  <%= link_to 'Log Out', destroy_user_session_path %>
  <%= link_to 'Edit Your Profile', edit_user_registration_path %>
  <%= link_to 'New Product', new_admin_product_path %>
  <%= link_to 'Your products', admin_products_path %>
  <% if current_user.role_administer? %>
  <%= link_to 'Investment Overview', administer_investments_index_path %>
  <%= link_to 'Category Overview', administer_categories_path %>
  <% end%>
<% else %>
  <%= link_to 'Log in', user_session_path %>
  <%= link_to 'Sign in', new_user_registration_path %>
<% end %>
<%= link_to 'Message', message_groups_path %>
