<div class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="sidebar-item"><%= link_to 'Edit Your Profile', edit_user_registration_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to 'Log Out', destroy_user_session_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to 'New Product', new_admin_product_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to 'Your Products', admin_products_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to 'Your Investments', investments_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to 'Search Investments', report_administer_investments_path, class: "sidebar-link" %></li>
      <li class="sidebar-item"><%= link_to 'Message', message_groups_path, class: "sidebar-link" %></li>
    </ul>
  </section>
</div>